@import "_keyframes.scss";

.div-box1{
    background-color: $color2;
    display: flex;
    justify-content: space-evenly;
    h1{
        font-family: $font1;
    }
    h3{
        font-family: $font2;
    }
    .img-box1{
        @include animation-general(translateLtoR,1.5s, ease-in-out, 2s);
    
    }
    .text-box1{
        text-align: center;
        @include animation-general(translateRtoL,2s, ease-in-out, 2s);
        button{
            margin:5px;
            border-radius: 20px;
            background-color: $color4;
            color:$color2;
            box-shadow: 1px;
        }
    }
    
}

.div-box2 {
        text-align: center;
        background-color: $color4;
        h1{
            color:$color2;
            font-family: $font1;
            text-decoration: solid;
        }
        .card-project {
        margin: 30px;
    
        button {
            padding-top: 3px;
            border-radius: 20px;
            background-color: $color2;
            color: $color4;
        }
        }
    }


.div-box3{
    justify-content: center;
    text-align: center;
    background-color: $color2;
        img{
            width: 250px;
        }
}
