@keyframes translateLtoR {  0%{
    transform: translateX(-500px);
    opacity: 0.7;
}
100% {
    transform: translateX(0);
    opacity: 1;
}}

@keyframes translateRtoL {  0%{
    transform: translateX(500px);
    opacity: 0.7;
}
100% {
    transform: translateX(0);
    opacity: 1;
}}