//variables

$color1:whitesmoke;
$color2:#CE9645;	
$color3:#BA391D;
$color4:#63190F;
$color5:#535439;
$color6:#1C1E13;	

//fonts

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&family=Single+Day&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

$font1:"Single Day";
$font2:"Gotu"
